@model IEnumerable<BookWeb.Models.Category>

@{
    Layout = "_Layout";
}

<div class="row">
    <div class="col-4">
        <h1>Category Table</h1>
    </div>
    <div class="col-8">b
        <a asp-controller="Categories" asp-action="Upsert" class="btn btn-success">Create New Category</a>
        <form class="form-inline my-2 my-lg-0 float-right">
            <input id="myInput" class="form-control mr-sm-2" type="text" placeholder="Search">
        </form>
        
        <form asp-controller="Categories" asp-action="Import" method="post" enctype="multipart/form-data">
            <input type="file" name="file" />
            <input type="submit" value="Import" />
        </form>
    </div>
</div>
<table class="table">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Description</th>
        <th scope="col">Status</th>
        <th scope="col">Action</th>
    </tr>
    </thead>
    <tbody id="tblData">
    @foreach (var obj in @Model)
    {
        <tr>
            <th scope="row">@obj.Id</th>
            <td>@obj.Name</td>
            <td>@obj.Description</td>
            <td>@obj.Status</td>
            <td>
                <a asp-controller="Categories" asp-action="Upsert" asp-route-id="@obj.Id" class="btn btn-warning">Update</a>
                <a asp-controller="Categories" asp-action="Delete" asp-route-id="@obj.Id" class="btn btn-danger">Delete</a>
            </td>
        </tr>
    }
    </tbody>
    @section Scripts
    {
        <script>
             $(document).ready(function (){
                 $("#myInput").on("keyup", function(){
                  var value = $(this).val().toLowerCase();
                 $("#tblData tr").filter(function (){
                     $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                 });
             });
         });
        </script>
    }
</table>