@model BookWeb.ViewModels.OrderDetailsVM

<h1>Order Summary</h1>
<div class="backgroundWhite container">
    <div class="card">
        <div class="card-body">
            <div class="container rounded p-2">
                <div class="row">
                    <div class="col-12 col-lg-6 pb-4">
                        <div class="row">
                            <h4 class="d-flex justify-content-between align-items-center mb-3">
                                <span class="text-black">PickUp Details:</span>
                            </h4>
                        </div>
                        <div class="row my-1">
                            <div class="col-3">Name</div>
                            <div class="col-9">
                                <input asp-for="OrderHeader.Name" type="text" class="form-control" readonly/>
                                <span asp-validation-for="OrderHeader.Name" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row my-1">
                            <div class="col-3">Phone</div>
                            <div class="col-9">
                                <input asp-for="OrderHeader.PhoneNumber" type="text" class="form-control" readonly/>
                                <span asp-validation-for="OrderHeader.PhoneNumber" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row my-1">
                            <div class="col-3">Address</div>
                            <div class="col-9">
                                <input asp-for="OrderHeader.Address" type="text" class="form-control" readonly/>
                                <span asp-validation-for="OrderHeader.Address" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row my-1">
                            <div class="col-3">Email</div>
                            <div class="col-9">
                                <input asp-for="OrderHeader.User.Email" type="text" class="form-control" readonly/>
                                <span asp-validation-for="OrderHeader.User.Email" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row my-1">
                            <div class="col-3">Order Date</div>
                            <div class="col-9">
                                <input value="@Model.OrderHeader.OrderDate.ToShortDateString()" type="text" class="form-control" readonly/>
                            </div>
                        </div>

                    </div>
                    <div class="col-12 col-lg-5 offset-lg-1">
                        <h4 class="d-flex justify-content-between align-items-center mb-3">
                            <span class="text-black">Order Summary</span>
                        </h4>
                        <ul class="list-group mb-3">
                            @foreach (var details in Model.OrderDetails)
                            {
                                <li class="list-group-item d-flex justify-content-between p-2">
                                    <div class="row container">
                                        <div class="col-8">
                                            <input type="hidden" asp-for="@details.Id"/>
                                            <h6 class="my-0 text-primary">@details.Product.Title</h6>
                                            <small class="text-muted">Price : @details.Price</small><br/>
                                            <small class="text-muted">Quantity : @details.Quantity</small>
                                        </div>
                                        <div class="col-4">
                                            <p class="text-success">@(String.Format("{0:C}", details.Quantity * details.Price))</p>
                                        </div>
                                    </div>
                                </li>
                            }
                            <li class="list-group-item bg-info">
                                <div class="row container">
                                    <div class="col-6">
                                        <h5 class="text-white">TOTAL </h5>
                                    </div>
                                    <div class="col-6 text-right">
                                        <h5 class="text-white">@(String.Format("{0:C}", Model.OrderHeader.Total))</h5>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>